<?xml version="1.0" encoding="utf-8"?>
<AssetDeclaration xmlns="uri:ea.com:eala:asset">
	<Tags />
	<Includes />

	<UIJoypadCommandBarButtonBuild
		id="UIJoypadCommandBarButtonBuild">
		<FactionSettings Faction="Allies" LockedButtonStateData="ButtonStateProductionLockedAllies"/>
		<FactionSettings Faction="Soviet" LockedButtonStateData="ButtonStateProductionLockedSoviet"/>
		<FactionSettings Faction="Japan" LockedButtonStateData="ButtonStateProductionLockedJapan"/>
		<FactionSettings Faction="Yuriko" LockedButtonStateData="ButtonStateProductionLockedJapan"/>
	</UIJoypadCommandBarButtonBuild>

  <UIJoypadCommandBarControlGroups
		id="UIJoypadCommandBarControlGroups"
		Template="CommandBarControlGroups"/>

  <UIJoypadCommandBarHomogenousGroup
		id="UIJoypadCommandBarHomogenousGroup"
		Template="CommandBarHomogenousGroup"/>

	<UIJoypadCommandBarMixedGroup
		id="UIJoypadCommandBarMixedGroup"
		Template="CommandBarMixedGroup"/>

	<UIJoypadCommandBarSingleUnit
		id="UIJoypadCommandBarSingleUnit"
		UnitTemplate="CommandBarSingleUnit"
		ProductionStructureTemplate="CommandBarProductionStructure"
		HotSpotTemplate="CommandBarHotSpot"/>

  <UIJoypadCommandBarStances
		id="UIJoypadCommandBarStances"
		Template="CommandBarStances"/>

	<UIJoypadCommandBarCoopCommunicator
		id="UIJoypadCommandBarCoopCommunicator"
		AICoopTemplate="CommandBarCoopCommunicatorMenu"/>

	<UIJoypadCommandBarPlayerPowers
		id="UIJoypadCommandBarPlayerPowers"
		Template="CommandBarPlayerPowers"/>
	
	<UIJoypadCommandBarTopMenu
		id="UIJoypadCommandBarTopMenu"
		Template="CommandBarTopMenu"/>
  
</AssetDeclaration>
