<?xml version="1.0" encoding="utf-8"?>
<AssetDeclaration xmlns="uri:ea.com:eala:asset"  xmlns:xi="http://www.w3.org/2001/XInclude">
	<Tags />
	<Includes>
		<!-- The Quick Chat Settings can be quite large so it was defined in a helper file -->
		<Include type="all" source="QuickChatSettings.xml" />
	</Includes> 

	<UIMouseDragSelectionFeedback
		id="UIMouseDragSelectionFeedback"
		BoxEdgeWidth="2"
		LassoWidth="2">
		<BoxColor R="255" G="182" B="14" A="187"/>
		<LassoColor R="255" G="182" B="14" A="187"/>
	</UIMouseDragSelectionFeedback>

	<UIMouseHUDElementHotKeyGate
		id="UIMouseHUDElementHotKeyGate">
		<ElementHotKeyMapping ElementId="SellButton" HotKeySlot="SellMode"/>
		<ElementHotKeyMapping ElementId="RepairButton" HotKeySlot="ToggleRepairMode"/>
		<ElementHotKeyMapping ElementId="SelectionRefinementTab" HotKeySlot="SideBarSelectionRefinementPage"/>
		<ElementHotKeyMapping ElementId="MainStructuresTab" HotKeySlot="SideBarMainStructurePage"/>
		<ElementHotKeyMapping ElementId="OtherStructuresTab" HotKeySlot="SideBarOtherStructurePage"/>
		<ElementHotKeyMapping ElementId="InfantryTab" HotKeySlot="SideBarInfantryPage"/>
		<ElementHotKeyMapping ElementId="VehicleTab" HotKeySlot="SideBarVehiclePage"/>
		<ElementHotKeyMapping ElementId="AircraftTab" HotKeySlot="SideBarAircraftPage"/>
		<ElementHotKeyMapping ElementId="WatercraftTab" HotKeySlot="SideBarWatercraftPage"/>
		<ElementHotKeyMapping ElementId="AttackMoveButton" HotKeySlot="AttackMove"/>
		<ElementHotKeyMapping ElementId="ForceAttackButton" HotKeySlot="ForceAttack"/>
		<ElementHotKeyMapping ElementId="ForceMoveButton" HotKeySlot="ForceMove"/>
		<ElementHotKeyMapping ElementId="ReverseMoveButton" HotKeySlot="ReverseMove"/>
		<ElementHotKeyMapping ElementId="StopButton" HotKeySlot="Stop"/>
		<ElementHotKeyMapping ElementId="PlanningModeButton" HotKeySlot="PlanningMode"/>
		<ElementHotKeyMapping ElementId="WaypointModeButton" HotKeySlot="WaypointMode"/>
		<ElementHotKeyMapping ElementId="AggressiveStanceButton" HotKeySlot="StanceAggressive"/>
		<ElementHotKeyMapping ElementId="GuardStanceButton" HotKeySlot="StanceGuard"/>
		<ElementHotKeyMapping ElementId="HoldFireStanceButton" HotKeySlot="StanceHoldFire"/>
		<ElementHotKeyMapping ElementId="HoldGroundStanceButton" HotKeySlot="StanceHoldPosition"/>
		<ElementHotKeyMapping ElementId="OpenPlayerTechStoreButton" HotKeySlot="OpenPlayerTechStore"/>
		<ElementHotKeyMapping ElementId="OpenAdvancedCommandsButton" HotKeySlot="OpenAdvancedCommands"/>
	</UIMouseHUDElementHotKeyGate>

	<UIMouseTacticalAttackMoveButton
		id="UIMouseTacticalAttackMoveButton">
		<MouseOverHelp
			Title="NAME:AttackMove"
			Description="DESC:AttackMove"/>
	</UIMouseTacticalAttackMoveButton>

	<UIMouseTacticalBuildQueueTab
		id="UIMouseTacticalBuildQueueTab">
		<QueueTypeSettings
			QueueType="MAIN_STRUCTURE">
			<MouseOverHelp
				Title="NAME:ProductionStructureSubTab"
				Description="DESC:ProductionStructureSubTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="OTHER_STRUCTURE">
			<MouseOverHelp
				Title="NAME:SupportStructureSubTab"
				Description="DESC:SupportStructureSubTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="INFANTRY">
			<MouseOverHelp
				Title="NAME:InfantrySubTab"
				Description="DESC:InfantrySubTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="VEHICLE">
			<MouseOverHelp
				Title="NAME:VehicleSubTab"
				Description="DESC:VehicleSubTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="AIRCRAFT">
			<MouseOverHelp
				Title="NAME:AircraftSubTab"
				Description="DESC:AircraftSubTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="WATERCRAFT">
			<MouseOverHelp
				Title="NAME:NavySubTab"
				Description="DESC:NavySubTab"/>
		</QueueTypeSettings>
	</UIMouseTacticalBuildQueueTab>

	<UIMouseTacticalBuildQueueTypeTab
		id="UIMouseTacticalBuildQueueTypeTab">
		<QueueTypeSettings
			QueueType="MAIN_STRUCTURE">
			<MouseOverHelp
				Title="NAME:ProductionStructureTab"
				Description="DESC:ProductionStructureTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="OTHER_STRUCTURE">
			<MouseOverHelp
				Title="NAME:SupportStructureTab"
				Description="DESC:SupportStructureTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="INFANTRY">
			<MouseOverHelp
				Title="NAME:InfantryTab"
				Description="DESC:InfantryTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="VEHICLE">
			<MouseOverHelp
				Title="NAME:VehicleTab"
				Description="DESC:VehicleTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="AIRCRAFT">
			<MouseOverHelp
				Title="NAME:AircraftTab"
				Description="DESC:AircraftTab"/>
		</QueueTypeSettings>
		<QueueTypeSettings
			QueueType="WATERCRAFT">
			<MouseOverHelp
				Title="NAME:NavyTab"
				Description="DESC:NavyTab"/>
		</QueueTypeSettings>
	</UIMouseTacticalBuildQueueTypeTab>

	<UIMouseTacticalCommandAttack
		id="UIMouseTacticalCommandAttack"
		AttackObjectCursor="AttackObject"
		ForceAttackObjectCursor="ForceAttackObject"
		ForceAttackGroundCursor="ForceAttackGround"
		ExplosiveChargeCursor="ExplosiveCharge"
		ClearGarrisonCursor="ClearGarrison"
		DisguiseCursor="Disguise"
		CallAirstrikeCursor="CallAirstrike"/>

	<UIMouseTacticalCommandAttackMove
		id="UIMouseTacticalCommandAttackMove"
		NormalCursor="AttackMoveTo"
		ForcedCursor="ForceAttackMoveTo"/>

	<UIMouseTacticalCommandCommunicateWithAllies
		id="UIMouseTacticalCommandCommunicateWithAllies"
		PlaceAttachedBeaconCursor="PlaceMpBeaconAttached"
		PlaceUnattachedBeaconCursor="PlaceMpBeacon"
		PingRadarCursor="PingRadar">
		<BeaconAttachableObjectFilter Rule="ANY" Include="STRUCTURE INFANTRY VEHICLE"/>
	</UIMouseTacticalCommandCommunicateWithAllies>
	
	<UIMouseTacticalCommandDock
		id="UIMouseTacticalCommandDock"
		Cursor="Dock"/>

	<UIMouseTacticalCommandEnter
		id="UIMouseTacticalCommandEnter"
		DefaultCursor="Enter"
		ContestCursor="ClearGarrison">
		<InfiltratorEffectTypeSettings Effect="VISION" Cursor="Infiltrate_VisionStructure"/>
		<InfiltratorEffectTypeSettings Effect="ENERGY" Cursor="Infiltrate_Energy"/>
		<InfiltratorEffectTypeSettings Effect="STEAL_MONEY" Cursor="Infiltrate_StealMoney"/>
		<InfiltratorEffectTypeSettings Effect="VISION_UNITS" Cursor="Infiltrate_VisionUnits"/>
		<InfiltratorEffectTypeSettings Effect="RESET" Cursor="Infiltrate_ResetTimer"/>
	</UIMouseTacticalCommandEnter>

	<UIMouseTacticalCommandForceAttack
		id="UIMouseTacticalCommandForceAttack"
		ObjectCursor="ForceAttackObject"
		GroundCursor="ForceAttackGround"/>

	<UIMouseTacticalCommandForceMove
		id="UIMouseTacticalCommandForceMove"
		Cursor="ForceMoveTo"/>

	<UIMouseTacticalCommandGetCrate
		id="UIMouseTacticalCommandGetCrate"
		Cursor="GetCrate"/>

	<!--UIMouseTacticalCommandHarvest
		id="UIMouseTacticalCommandHarvest"
		Cursor="Harvest"/-->

	<UIMouseTacticalCommandMineOre
		id="UIMouseTacticalCommandMineOre"
		Cursor="MineOre"/>

	<!--UIMouseTacticalCommandMisc
		id="UIMouseTacticalCommandMisc"
		CombineCursor="Combine"
		ChargeDefensesCursor="ChargeDefenses"
		ConversionBeamCursor="ConversionBeam"/-->

	<UIMouseTacticalCommandMove
		id="UIMouseTacticalCommandMove"
		ForwardCursor="MoveTo"
		ReverseCursor="ReverseMoveTo"/>

  <UIMouseTacticalCommandPlaceAIBeacon
		id="UIMouseTacticalCommandPlaceAIBeacon">
		<BeaconTypeSettings
			Type="Assault"
			PlaceUnattachedCursor="PlaceAssaultBeacon"
			PlaceAttachedCursor="PlaceAssaultBeaconAttached"
			CanTargetObjects="true"
			CanTargetPosition="true">
			<AttachableObjectFilter Rule="ANY" Include="STRUCTURE INFANTRY VEHICLE" Exclude="ORE_NODE" Relationship="ENEMIES NEUTRAL"/>
		</BeaconTypeSettings>
		<BeaconTypeSettings
			Type="HoldPosition"
			PlaceUnattachedCursor="PlaceHoldBeacon"
			CanTargetObjects="false"
			CanTargetPosition="true"/>
		<BeaconTypeSettings
			Type="HoldObject"
			PlaceAttachedCursor="PlaceHoldBeaconAttached"
			CanTargetObjects="true"
			CanTargetPosition="false">
			<AttachableObjectFilter Rule="ANY" Include="STRUCTURE INFANTRY VEHICLE" Exclude="ORE_NODE" Relationship="ENEMIES"/>
		</BeaconTypeSettings>
	</UIMouseTacticalCommandPlaceAIBeacon>

	<UIMouseTacticalCommandPlaceRallyPoint
		id="UIMouseTacticalCommandPlaceRallyPoint"
		Cursor="SetRallyPoint"/>

	<!--UIMouseTacticalCommandPlaceWall
		id="UIMouseTacticalCommandPlaceWall"
		ValidPlacementCursor="PlaceWall"/-->

	<UIMouseTacticalCommandReverseMove
		id="UIMouseTacticalCommandReverseMove"
		Cursor="ReverseMoveTo"/>

	<UIMouseTacticalCommandSelect
		id="UIMouseTacticalCommandSelect"
		Cursor="Selecting"
		TakeUnitsFromAllyHotKeySlot="TakeUnitsFromAlly"
		GiveUnitsToAllyHotKeySlot="GiveUnitsToAlly"/>

	<UIMouseTacticalCommandSell
		id="UIMouseTacticalCommandSell">
		<DefaultCursors ValidTarget="SellAllies" InvalidTarget="CantSellAllies"/>
		<FactionCursors
			Faction="Soviet">
			<Cursors ValidTarget="SellSoviet" InvalidTarget="CantSellSoviet"/>
		</FactionCursors>
		<FactionCursors
			Faction="Japan">
			<Cursors ValidTarget="SellJapan" InvalidTarget="CantSellJapan"/>
		</FactionCursors>
	</UIMouseTacticalCommandSell>

	<UIMouseTacticalCommandSetRallyPoint
		id="UIMouseTacticalCommandSetRallyPoint"
		Cursor="SetRallyPoint"/>

	<UIMouseTacticalCommandToggleSelfRepair
		id="UIMouseTacticalCommandToggleSelfRepair"
		ValidTargetCursor="ToggleRepair"
		InvalidTargetCursor="CantToggleRepair"/>

	<UIMouseTacticalCoOpAIButtonsAssaultButton
		id="UIMouseTacticalCoOpAIButtonsAssaultButton">
		<MouseOverHelp
			Title="NAME:CoOpAIAssaultButton"
			Description="DESC:CoOpAIAssaultButton"/>
	</UIMouseTacticalCoOpAIButtonsAssaultButton>

	<UIMouseTacticalCoOpAIButtonsHelpButton
		id="UIMouseTacticalCoOpAIButtonsHelpButton">
		<MouseOverHelp
			Title="NAME:CoOpAIHelpButton"
			Description="DESC:CoOpAIHelpButton"/>
	</UIMouseTacticalCoOpAIButtonsHelpButton>

	<UIMouseTacticalCoOpAIButtonsHoldObjectButton
		id="UIMouseTacticalCoOpAIButtonsHoldObjectButton">
		<MouseOverHelp
			Title="NAME:CoOpAIHoldObjectButton"
			Description="DESC:CoOpAIHoldObjectButton"/>
	</UIMouseTacticalCoOpAIButtonsHoldObjectButton>

	<UIMouseTacticalCoOpAIButtonsHoldPositionButton
		id="UIMouseTacticalCoOpAIButtonsHoldPositionButton">
		<MouseOverHelp
			Title="NAME:CoOpAIHoldPositionButton"
			Description="DESC:CoOpAIHoldPositionButton"/>
	</UIMouseTacticalCoOpAIButtonsHoldPositionButton>

	<UIMouseTacticalCoOpAIButtonsNormalButton
		id="UIMouseTacticalCoOpAIButtonsNormalButton">
		<MouseOverHelp
			Title="NAME:CoOpAINormalButton"
			Description="DESC:CoOpAINormalButton"/>
	</UIMouseTacticalCoOpAIButtonsNormalButton>

	<UIMouseTacticalDeactivateMissionHotSpotsButton
		id="UIMouseTacticalDeactivateMissionHotSpotsButton">
		<MouseOverHelp
			Title="NAME:DeactivateMissionHotSpotsButton"
			Description="DESC:DeactivateMissionHotSpotsButton"/>
	</UIMouseTacticalDeactivateMissionHotSpotsButton>

	<UIMouseTacticalExitContainerButton
		id="UIMouseTacticalExitContainerButton" 
		HelpTitleFormat="NAME:ExitContainer"
		HelpDescription="DESC:ExitContainer"/>

	<UIMouseTacticalFastForwardButton
		id="UIMouseTacticalFastForwardButton">
		<MouseOverHelp
			Title="NAME:FastForward"
			Description="DESC:FastForward"/>
	</UIMouseTacticalFastForwardButton>

	<UIMouseTacticalForceAttackButton
		id="UIMouseTacticalForceAttackButton">
		<MouseOverHelp
			Title="NAME:ForceAttack"
			Description="DESC:ForceAttack"/>
	</UIMouseTacticalForceAttackButton>

	<UIMouseTacticalForceAttackMoveButton
		id="UIMouseTacticalForceAttackMoveButton">
		<MouseOverHelp
			Title="NAME:AssaultMove"
			Description="DESC:AssaultMove"/>
	</UIMouseTacticalForceAttackMoveButton>

	<UIMouseTacticalForceMoveButton
		id="UIMouseTacticalForceMoveButton">
		<MouseOverHelp
			Title="NAME:ForceMove"
			Description="DESC:ForceMove"/>
	</UIMouseTacticalForceMoveButton>

	<UIMouseTacticalGroupSelection
		id="UIMouseTacticalGroupSelection">
		<Group
			CreateHotKeySlot="CreateGroup0"
			AddToHotKeySlot="AddToGroup0"
			SelectHotKeySlot="SelectGroup0"
			ViewHotKeySlot="ViewGroup0"/>
		<Group
			CreateHotKeySlot="CreateGroup1"
			AddToHotKeySlot="AddToGroup1"
			SelectHotKeySlot="SelectGroup1"
			ViewHotKeySlot="ViewGroup1"/>
		<Group
			CreateHotKeySlot="CreateGroup2"
			AddToHotKeySlot="AddToGroup2"
			SelectHotKeySlot="SelectGroup2"
			ViewHotKeySlot="ViewGroup2"/>
		<Group
			CreateHotKeySlot="CreateGroup3"
			AddToHotKeySlot="AddToGroup3"
			SelectHotKeySlot="SelectGroup3"
			ViewHotKeySlot="ViewGroup3"/>
		<Group
			CreateHotKeySlot="CreateGroup4"
			AddToHotKeySlot="AddToGroup4"
			SelectHotKeySlot="SelectGroup4"
			ViewHotKeySlot="ViewGroup4"/>
		<Group
			CreateHotKeySlot="CreateGroup5"
			AddToHotKeySlot="AddToGroup5"
			SelectHotKeySlot="SelectGroup5"
			ViewHotKeySlot="ViewGroup5"/>
		<Group
			CreateHotKeySlot="CreateGroup6"
			AddToHotKeySlot="AddToGroup6"
			SelectHotKeySlot="SelectGroup6"
			ViewHotKeySlot="ViewGroup6"/>
		<Group
			CreateHotKeySlot="CreateGroup7"
			AddToHotKeySlot="AddToGroup7"
			SelectHotKeySlot="SelectGroup7"
			ViewHotKeySlot="ViewGroup7"/>
		<Group
			CreateHotKeySlot="CreateGroup8"
			AddToHotKeySlot="AddToGroup8"
			SelectHotKeySlot="SelectGroup8"
			ViewHotKeySlot="ViewGroup8"/>
		<Group
			CreateHotKeySlot="CreateGroup9"
			AddToHotKeySlot="AddToGroup9"
			SelectHotKeySlot="SelectGroup9"
			ViewHotKeySlot="ViewGroup9"/>
	</UIMouseTacticalGroupSelection>

	<UIMouseTacticalLookAt
		id="UIMouseTacticalLookAt"
		ScrollCursor="Scroll"
		ScrollLeftHotKeySlot="CameraScrollLeft"
		ScrollRightHotKeySlot="CameraScrollRight"
		ScrollUpHotKeySlot="CameraScrollUp"
		ScrollDownHotKeySlot="CameraScrollDown"
		RotateLeftHotKeySlot="CameraRotateLeft"
		RotateRightHotKeySlot="CameraRotateRight"
		ZoomInHotKeySlot="CameraZoomIn"
		ZoomOutHotKeySlot="CameraZoomOut"
		KeyScrollFactor="25%"
		MouseDragScrollFactor="25%"
		MouseEdgeScrollFactor="25%">
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark1" SaveHotKeySlot="SaveViewBookmark1"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark2" SaveHotKeySlot="SaveViewBookmark2"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark3" SaveHotKeySlot="SaveViewBookmark3"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark4" SaveHotKeySlot="SaveViewBookmark4"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark5" SaveHotKeySlot="SaveViewBookmark5"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark6" SaveHotKeySlot="SaveViewBookmark6"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark7" SaveHotKeySlot="SaveViewBookmark7"/>
		<ViewBookmark GoToHotKeySlot="GoToViewBookmark8" SaveHotKeySlot="SaveViewBookmark8"/>
	</UIMouseTacticalLookAt>

	<UIMouseTacticalMainCommandBarHotKeys
		id="UIMouseTacticalMainCommandBarHotKeys"
		SelectionRefinementPageSlot="SideBarSelectionRefinementPage">
		<BuildQueuePage QueueType="MAIN_STRUCTURE" Slot="SideBarMainStructurePage"/>
		<BuildQueuePage QueueType="OTHER_STRUCTURE" Slot="SideBarOtherStructurePage"/>
		<BuildQueuePage QueueType="INFANTRY" Slot="SideBarInfantryPage"/>
		<BuildQueuePage QueueType="VEHICLE" Slot="SideBarVehiclePage"/>
		<BuildQueuePage QueueType="AIRCRAFT" Slot="SideBarAircraftPage"/>
		<BuildQueuePage QueueType="WATERCRAFT" Slot="SideBarWatercraftPage"/>
		<ButtonSlot>SideBarButtonSlot1</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot2</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot3</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot4</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot5</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot6</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot7</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot8</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot9</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot10</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot11</ButtonSlot>
		<ButtonSlot>SideBarButtonSlot12</ButtonSlot>
	</UIMouseTacticalMainCommandBarHotKeys>

	<!-- For now "DeleteBeacon" is set to the "TelestratorErase" hot key slot
		because they both share the same key mapping.  We should come up with a
		a better way to share key mappings-->
	<UIMouseTacticalMiscHotKeys
		id="UIMouseTacticalMiscHotKeys"
		AttackMove="AttackMove"
		CameraReset="CameraReset"
		ChatWithAllies="ChatWithAllies"
		ChatWithEveryone="ChatWithEveryone"
		CommunicateWithAlliesMode="CommunicateWithAlliesMode"
		CycleHarvesters="CycleHarvesters"
		DeleteBeacon="TelestratorErase"
		ForceAttack="ForceAttack"
		ForceMove="ForceMove"
		GoToNextBuildQueue="GoToNextBuildQueue"
		GoToPriorBuildQueue="GoToPriorBuildQueue"
		GoToNextSubGroup="GoToNextSubGroup"
		GoToPriorSubGroup="GoToPriorSubGroup"
		OpenAdvancedCommands="OpenAdvancedCommands" 
		OpenLoadGameScreen="OpenLoadGameScreen" 
		OpenPauseScreen="OpenPauseScreen"
		OpenPlayerTechStore="OpenPlayerTechStore" 
		OpenSaveGameScreen="OpenSaveGameScreen" 
		PlaceRallyPoint="PlaceRallyPoint"
		PlanningMode="PlanningMode"
		PreferSelection="PreferSelection"
		QuickChatMenu="QuickChatMenu"
		ReverseMove="ReverseMove"
		Scatter="Scatter"
		SelectAll="SelectAll"
		SelectMatchingUnits="SelectMatchingUnits"
		SellMode="SellMode"
		ShowAllHealthBars="ShowAllHealthBars"
		Stop="Stop"
		TelestratorErase="TelestratorErase"
		TelestratorNextColor="TelestratorNextColor"
		TelestratorNextLineWidth="TelestratorNextLineWidth"
		TelestratorPriorColor="TelestratorPriorColor"
		TelestratorToggle="TelestratorToggle"
		ToggleFastForwardMode="ToggleFastForwardMode"
		ToggleHUD="ToggleHUD"
		ToggleRepairMode="ToggleRepairMode"
		ViewHomeBase="ViewHomeBase"
		ViewLastEvaEvent="ViewLastEvaEvent"
		WaypointMode="WaypointMode">
		<StanceSettings Stance="AGGRESSIVE" Slot="StanceAggressive"/>
		<StanceSettings Stance="GUARD" Slot="StanceGuard"/>
		<StanceSettings Stance="HOLD_FIRE" Slot="StanceHoldFire"/>
		<StanceSettings Stance="HOLD_POSITION" Slot="StanceHoldPosition"/>
	</UIMouseTacticalMiscHotKeys>

	<UIMouseTacticalOpenAdvancedCommandsButton
		id="UIMouseTacticalOpenAdvancedCommandsButton">
		<MouseOverHelp
			Title="NAME:OpenAdvancedCommands"
			Description="DESC:OpenAdvancedCommands"/>
	</UIMouseTacticalOpenAdvancedCommandsButton>

	<UIMouseTacticalPauseButton
		id="UIMouseTacticalPauseButton">
		<MouseOverHelp
			Title="NAME:PauseButton"
			Description="DESC:PauseButton"/>
	</UIMouseTacticalPauseButton>

	<UIMouseTacticalPlanningModeButton
		id="UIMouseTacticalPlanningModeButton">
		<MouseOverHelp
			Title="NAME:PlanningMode"
			Description="DESC:PlanningMode"/>
	</UIMouseTacticalPlanningModeButton>

	<UIMouseTacticalPlayerPowerHotKeys
		id="UIMouseTacticalPlayerPowerHotKeys">
		<Slot>PlayerPowerButtonSlot1</Slot>
		<Slot>PlayerPowerButtonSlot2</Slot>
		<Slot>PlayerPowerButtonSlot3</Slot>
		<Slot>PlayerPowerButtonSlot4</Slot>
		<Slot>PlayerPowerButtonSlot5</Slot>
		<Slot>PlayerPowerButtonSlot6</Slot>
		<Slot>PlayerPowerButtonSlot7</Slot>
		<Slot>PlayerPowerButtonSlot8</Slot>
		<Slot>PlayerPowerButtonSlot9</Slot>
		<Slot>PlayerPowerButtonSlot10</Slot>
		<Slot>PlayerPowerButtonSlot11</Slot>
		<Slot>PlayerPowerButtonSlot12</Slot>
		<Slot>PlayerPowerButtonSlot13</Slot>
		<Slot>PlayerPowerButtonSlot14</Slot>
		<Slot>PlayerPowerButtonSlot15</Slot>
	</UIMouseTacticalPlayerPowerHotKeys>

	<UIMouseTacticalPlayerTechStoreButton
		id="UIMouseTacticalPlayerTechStoreButton"
		TechPointAwardedSound="U_PowerPointReceived">
		<MouseOverHelp
			Title="NAME:OpenPlayerTechStore"
			Description="DESC:OpenPlayerTechStore"/>
		<YurikoMouseOverHelp
			Title="NAME:OpenPlayerYurikoTechStore"
			Description="DESC:OpenPlayerYurikoTechStore"/>
	</UIMouseTacticalPlayerTechStoreButton>

	<UIMouseTacticalRadarTelestrator
		id="UIMouseTacticalRadarTelestrator"
		StrokeSustainDuration="10s"
		StrokeFadeDuration="2s"/>

	<UIMouseTacticalRedAlertButton
		id="UIMouseTacticalRedAlertButton">
		<MouseOverHelp
			Title="NAME:RedAlertButton"
			Description="DESC:RedAlertButton"/>
	</UIMouseTacticalRedAlertButton>

	<UIMouseTacticalReverseMoveButton
		id="UIMouseTacticalReverseMoveButton">
		<MouseOverHelp
			Title="NAME:ReverseMove"
			Description="DESC:ReverseMove"/>
	</UIMouseTacticalReverseMoveButton>

	<UIMouseTacticalSelectionDetailsButtonHotKeys
		id="UIMouseTacticalSelectionDetailsButtonHotKeys">
		<UnitAbilitySlot>UnitAbilityButtonSlot1</UnitAbilitySlot>
		<UnitAbilitySlot>UnitAbilityButtonSlot2</UnitAbilitySlot>
		<UnitAbilitySlot>UnitAbilityButtonSlot3</UnitAbilitySlot>
		<UnitAbilitySlot>UnitAbilityButtonSlot4</UnitAbilitySlot>
		<UnitAbilitySlot>UnitAbilityButtonSlot5</UnitAbilitySlot>
		<UnitAbilitySlot>UnitAbilityButtonSlot6</UnitAbilitySlot>
	</UIMouseTacticalSelectionDetailsButtonHotKeys>

	<UIMouseTacticalSelectionRefinementTab
		id="UIMouseTacticalSelectionRefinementTab">
		<MouseOverHelp
			Title="NAME:ContextualTab"
			Description="DESC:ContextualTab"/>
	</UIMouseTacticalSelectionRefinementTab>

	<UIMouseTacticalSellModeButton
		id="UIMouseTacticalSellModeButton">
		<MouseOverHelp
			Title="NAME:SellMode"
			Description="DESC:SellMode"/>
	</UIMouseTacticalSellModeButton>

	<UIMouseTacticalSetStanceButton
		id="UIMouseTacticalSetStanceButton">
		<StanceSettings
			Stance="AGGRESSIVE">
			<MouseOverHelp
				Title="NAME:AggresiveStance"
				Description="DESC:AggresiveStance"/>
		</StanceSettings>
		<StanceSettings
			Stance="GUARD">
			<MouseOverHelp
				Title="NAME:GuardStance"
				Description="DESC:GuardStance"/>
		</StanceSettings>
		<StanceSettings
			Stance="HOLD_POSITION">
			<MouseOverHelp
				Title="NAME:HoldGroundStance"
				Description="DESC:HoldGroundStance"/>
		</StanceSettings>
		<StanceSettings
			Stance="HOLD_FIRE">
			<MouseOverHelp
				Title="NAME:HoldFireStance"
				Description="DESC:HoldFireStance"/>
		</StanceSettings>
	</UIMouseTacticalSetStanceButton>

	<UIMouseTacticalStopButton
		id="UIMouseTacticalStopButton">
		<MouseOverHelp
			Title="NAME:Stop"
			Description="DESC:Stop"/>
	</UIMouseTacticalStopButton>

	<UIMouseTacticalTelestrator
		id="UIMouseTacticalTelestrator"
		DrawCursor="TelestratorDraw"/>

	<UIMouseTacticalThreatMeter
		id="UIMouseTacticalThreatMeter">
		<MouseOverHelp
			Title="NAME:ThreatMeter"
			Description="DESC:ThreatMeter"/>
	</UIMouseTacticalThreatMeter>

	<UIMouseTacticalToggleRepairModeButton
		id="UIMouseTacticalToggleRepairModeButton">
		<MouseOverHelp
			Title="NAME:RepairMode"
			Description="DESC:RepairMode"/>
	</UIMouseTacticalToggleRepairModeButton>

	<UIMouseTacticalUnitIntroButton
		id="UIMouseTacticalUnitIntroButton">
		<MouseOverHelp
			Title="NAME:UnitIntro"
			Description="DESC:UnitIntro"/>
	</UIMouseTacticalUnitIntroButton>

	<UIMouseTacticalWaypointModeButton
		id="UIMouseTacticalWaypointModeButton">
		<MouseOverHelp
			Title="NAME:WaypointMode"
			Description="DESC:WaypointMode"/>
	</UIMouseTacticalWaypointModeButton>

	<UIMouseVoiceChat
		id="UIMouseVoiceChat"
		ToggleModeHotKeySlot="ToggleVoiceChatMode"
		TalkHotKeySlot="VoiceChat">
		<ModeButtonHelp
			Title="NAME:VoiceChatMode"
			Description="DESC:VoiceChatMode"/>
		<TalkButtonHelp
			Title="NAME:VoiceChatTalk"
			Description="DESC:VoiceChatModeSpecific"/>
	</UIMouseVoiceChat>

</AssetDeclaration>
